@use 'colors' as *;
@use 'typography' as *;
@use 'sizes' as *;

// Contextual
$color-text-default: $color-primary-700;
$color-text-interactive-default: $color-neutral-100;
$color-text-interactive-hover: $color-accent-300;
$color-background-default: $color-primary-100;
$color-background-dark: $color-primary-800;

$letter-spacing-loose: 0.16em;

$border-radius-1: $size-2;
$border-radius-2: $size-4;

$box-shadow-1: 0px 6px 5px rgb(0, 0, 0, 0.012),
  0px 22px 18px rgb(0, 0, 0, 0.018), 0px 100px 80px rgb(0, 0, 0, 0.03);
$box-shadow-2: 0px 6px 5px rgb(0, 0, 0, 0.016),
  0px 22px 18px rgb(0, 0, 0, 0.024), 0px 100px 80px rgb(0, 0, 0, 0.04);
$box-shadow-3: 0px 6px 5px rgb(0, 0, 0, 0.02), 0px 22px 18px rgb(0, 0, 0, 0.03),
  0px 100px 80px rgb(0, 0, 0, 0.05);
$box-shadow-4: 0px 6px 5px rgb(0, 0, 0, 0.03), 0px 22px 18px rgb(0, 0, 0, 0.042),
  0px 100px 80px rgb(0, 0, 0, 0.07);
$box-shadow-5: 0px 6px 5px rgb(0, 0, 0, 0.04), 0px 22px 18px rgb(0, 0, 0, 0.06),
  0px 100px 80px rgb(0, 0, 0, 0.1);

// Body
$body-font-family: $font-family-base;
$body-font-size: $font-size-400;
$body-line-height: 1.5;
$body-font-weight: $font-weight-default;
$body-color-default: $color-text-default;
$body-background-color: $color-background-default;

// General
$link-color: $color-text-interactive-default;
$link-color-hover: $color-text-interactive-hover;

$heading-font-family: $font-family-accent;
$heading-font-weight: $font-weight-bold;
$heading-letter-spacing: $letter-spacing-loose;
$heading-line-height: 1;
$heading-text-transform: uppercase;
$heading-color-default: $body-color-default;

// Layout
$grid-gap: $size-6;
$flex-group-gap: $size-4;

$hero-padding-block: clamp(15rem, 15vh, 20rem);
$section-padding-block: $size-13;

$container-min-margin-inline: $size-4;
$container-max-width: 70rem;
$container-max-width-narrow: 40rem;
$container-max-width-wide: 75rem;

$card-body-padding: $size-8;

// Site Header
$site-header-color: $color-text-default;
$site-header-background-color: $color-background-dark;
$site-header-padding: $size-8 0;
$side-header-margin: 0;
$site-header-flex-gap: 0;
$site-header-justification: space-between;
$site-header-alignment: start;

// Primary Navigation
$nav-flex-column-gap: $size-9;
$nav-font-family: $font-family-accent;
$nav-font-size: $font-size-400;
$nav-font-weight: $font-weight-bold;
$nav-color-default: $color-text-interactive-default;
$nav-color-hover: $color-text-interactive-hover;

// buttons
$button-font-family: $body-font-family;
$button-font-size: $body-font-size;
$button-font-weight: $font-weight-bold;
$button-padding-default: 0.75em 2em;
$button-text-transform: none;
$button-border-default: 0;
$button-border-radius: $border-radius-1;

$button-transition: 0;

$button-accent-color: $color-neutral-100;
$button-accent-background: $color-accent-400;
$button-accent-color-hover: $color-neutral-100;
$button-accent-background-hover: $color-accent-500;

$button-primary-color: $color-neutral-100;
$button-primary-background: $color-primary-700;
$button-primary-color-hover: $color-neutral-100;
$button-primary-background-hover: $color-primary-800;

// cards
$card-font-family: $body-font-family;
$card-flow-spacing: $size-2;
$card-padding: $size-8;
$card-line-height: 1.25;
$card-border-radius: $border-radius-2;
$card-box-shadow: $box-shadow-1;
$card-color-default: $body-background-color;
$card-background-default: $color-primary-100;

$card-heading-font-size: $font-size-600;
$card-heading-color-default: $card-color-default;
